<div>
    {{#each sidebar.popular}}
        <div>
            <a href="/images/{{uniqueId}}">
                <img src="/assets/upload/{{filename}}" alt="{{title}}" class="img-mini"/>
            </a>
        </div>
    {{/each}}
</div> 