<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css" type="text/css"/>
        <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />      
        <title>Einstein Photos</title>
        
    </head>
    <body>
        <header>
            <h2 class="main-title">Álbum Einstein</h2>
        </header>
        <div class="contents">
            <section class="main">
                {{{body}}}
            </section>
            <section class="subsection sidebar">
                <div class="stats">
                    <h3 class="title">Estatísticas :</h3>
                    {{> stats}}
                </div>
                <div class="popular">
                    <h3 class="title">Mais visitas :</h3>
                    {{> popular}}
                </div>
                <div class="lastcomments">
                    <h3 class="title">Comentários :</h3>
                    {{> comments}}
                </div>
            </section>
        </div>
        <footer><small>Copyright &copy Leb - 2017</small></footer>
        <script src="/assets/vendor/jquery-3.2.1.min.js"></script>
        <script src="/assets/js/scripts.js"></script>
    </body>
