<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css" type="text/css"/>
        <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />      
        <title>Einstein Photos</title>
        
    </head>
    <body>
        <header>Header</header>
        <div class="contents">
            <section class="main">
                {{{body}}}
            </section>
            <section class="sidebar">
                <div class="stats">Stats</div>
                <div class="popular">Popular</div>
                <div class="lastcomments">
                    <h3>Comments:</h3>
                    {{>comments}}
                </div>
            </section>
        </div>
        <footer>Footer</footer>
    </body>
