<div class="container">
    <section class="title">
        <h2>{{image.title}}</h2>
    </section>
    <section class="image">
        <p>{{image.description}}</p>
        <img src="/assets/upload/{{image.filename}}" alt="Image">
    </section>
    <section class="footer">
        <button><i class="fa fa-heart">Like</i></button>       
    </section>
</div>
