<div class="container">
    <section class="upload">
        <div>
            <div class="subsection">
                <h3>Upload an Image</h3>
            </div>
            <div class="subsection">
                <form action="/images" method="post">
                    <div>
                        <label for="file">Browse :</label>
                        <input type="file" name="file" id="file" />
                    </div>
                    <div>
                        <label for="file">Title :</label>
                        <input type="text" name="title" id="title" />
                    </div>
                    <div>
                        <label for="file">Description :</label>
                        <textarea name="description" id="description"></textarea>
                    </div>  
                    <div>
                         <button type="submit" class="btn-std">Upload Image&nbsp - &nbsp<i class="fa fa-upload" aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
        </div>        
    </section>

    <section class="newest">
    </section>
</div>
