/* ---------------------------------------------*/
/*               BASIC SETUP                    */
/* ---------------------------------------------*/
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'verdana', sans-serif;
    font-size: 20px;
}

html, body {
    height: 100%;
}

/* ---------------------------------------------*/
/*               REUSABLE COMPONENTS            */
/* ---------------------------------------------*/

.container, .sidebar {
    max-width: 95%;
    margin: 0 auto;
    text-align: center;
}

.subsection {
    margin: 10px 0 30px 0;
    font-size: 80%;
    vertical-align: center;
}

.input {
    margin-top: 20px;
}

.images {
    display: flex;
    justify-content: space-around;
}

.main-title {
    margin-bottom: 15px;
}

.title {
    background-color: rgb(243, 243, 243);
    padding: 10px 0;
    margin-bottom: 10px;
}
/* ---------------------------------------------*/
/*               BUTTONS                        */
/* ---------------------------------------------*/

.btn-std {
    margin-top: 20px;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 10pxx;
    background-color: #3498db;
    border: 1px solid #2980b9;
    color: #fff;

}

.btn-std :hover {
    cursor: pointer;
}

/* ---------------------------------------------*/
/*               PHOTOS                         */
/* ---------------------------------------------*/

.img-thumbnail {
    height: 100px;
}

.img-medium {
    height: 200px;
}

.img-mini {
    height: 60px;
}

/* ---------------------------------------------*/
/*               MAIN                           */
/* ---------------------------------------------*/
header {
    margin: 15px 0;
    border-bottom: 1px lightgreen solid;
    height: 5vh;
}

.contents {
    display: flex;
    height:90vh;
}

.main {
    flex: 3
}

.sidebar {
    flex: 1
}

.stats, .popular, .lastcomments {
    margin-bottom: 20px;
    font-size: 80%;
}

.lastcomments div {
    text-align: left;
    margin-left: 5px;
    list-style: none;
}

.popular div {
    display:flex;
    justify-content: space-around;
}

footer {
    margin: 10px 0;
    border-top: 1px lightgreen solid;
    height: 5vh;
    text-align: center;
}

small {
    font-size: 70%;
    color: rgb(177, 177, 177);
}